<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <connectionStrings>
    <!--Source-->
    <!--<add name="ConnDpsSQL" connectionString="Server=10.200.4.151;Initial Catalog=PGMDPS;User ID=sa;Password=P@$$w0rd;"/>
    <add name="ConnPisSQL" connectionString="Server=10.200.1.11;Initial Catalog=PGMPIS;User ID=sa;Password=P@$$w0rd;"/>-->
    <!--<add name="ConnDpsSQL" connectionString="Data Source=DESKTOP-VAQJT8F\SQLEXPRESS02;Initial Catalog=PGMDPS;Persist Security Info=True;User ID=sa;Password=sa@12345"/>
    <add name="ConnPisSQL" connectionString="Data Source=DESKTOP-VAQJT8F\SQLEXPRESS02;Initial Catalog=PGMPIS;Persist Security Info=True;User ID=sa;Password=sa@12345"/>-->
    <add name="ConnDpsSQL" connectionString="Data Source=uat-coretech.ddns.net, 61660;Initial Catalog=PGMDPS;User ID=sa;Password=sa@12345;"/>
    <add name="ConnPisSQL" connectionString="Data Source=uat-coretech.ddns.net, 61660;Initial Catalog=PGMPIS;User ID=sa;Password=sa@12345;"/>
    <!--Internal Testing-->
    <!--<add name="ConnDpsSQL" connectionString="Server=USER-PC\MSSQLSERVERR2;Initial Catalog=PGMDPS;User ID=sa;Password=P@$$w0rd;"/>
    <add name="ConnPisSQL" connectionString="Server=USER-PC\MSSQLSERVERR2;Initial Catalog=PGMPIS;User ID=sa;Password=P@$$w0rd;"/>-->
  </connectionStrings>
  <appSettings>
    <add key="ExcelPath" value="Template"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" timeout="20"/>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <!--<location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="ServerIpAddress" value="localhost" />
      <add key="CrystalImageCleaner-AutoStart" value="true" />
      <add key="CrystalImageCleaner-Sleep" value="60000" />
      <add key="CrystalImageCleaner-Age" value="120000" />
    </appSettings>
  </location>-->
  <!--<businessObjects><crystalReports><rptBuildProvider><add embedRptInResource="true"/></rptBuildProvider></crystalReports></businessObjects>-->
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>